.ej-flexbox{

}

/* .flexbox-demo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: lightblue;
} */

/* .flexbox-demo div {
  background: darkblue;
  color: white;
  padding: 20px;
  border-radius: 10px;
} */