body{
    padding: 0;
    border: 0;
    margin: 0;
    background: #B8F4FF;
    font-family: "Chiron Sung HK", serif;
}

/* BARRA DE NAVEGACIÓN */
nav{
    width: 100%;
    height: 3rem;
    background-color: rgb(0, 213, 255);
    display: flex;
    align-items: center;
    justify-content: end;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li >a:hover {
    color: #0088A3;
}

nav > ul > li {
    display: inline;
    margin-right: 20px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

/* CONTENIDO CENTRAL */
.box-test{
    display: flex;
}

.title{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}

.box-img{
    width: 40%;
    display: flex;
    align-items: center;
}

.img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: auto;
    box-shadow: 5px 5px 5px gray; /* Sombra */
}

.box-buttons{
    width: 60%;
    display: flex;
    flex-direction: column; /* Dirección de los hijos*/
    gap: 10px; /* Separación */
}

.btns{
    background: #D9C457;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-family: "Chiron Sung HK", serif;
}

.btns:hover{
    scale: 1.05;  /* Crece al pasarle el cursor encima */
    background: #f7eaa6;
    font-weight: 600;
    box-shadow: 5px 5px 5px gray;  /* Sombra al pasarle el cursor encima */
}

/* Pie de página */
footer{
    background-color: rgb(0, 213, 255);
    margin-top: 50px;
    padding: 20px;
}

footer > p{
    color: white;
    font-weight: 600;
    margin: 0;
}